body {
    background: linear-gradient(#bbb, transparent 1px),
      linear-gradient(90deg, #bbb, transparent 1px);
    background-size: 10px 10px;
    background-position: center center;
  }
  .container {
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
    .row {
      display: flex;
      justify-content: space-around;

    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  @media (max-width: 320px) {
    .container {
      width: 300px;
    }

  }