.list-item {
    margin: 0 auto;
    display: flex;
    width: 98%;

    border: 1px solid black;
    background-color: #fff;
}
.col-md-1 {
    flex-grow: 1;
}
.col-md-2 {
    flex-grow: 2;
}
.col-md-4 {
    flex-grow: 4;
}
[class*='col-md-'] {
    height: 50px;
    line-height: 50px;
}